.container {
    display: flex;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.gridItem {
    display: grid;
    grid-template-columns: 1fr 350px 1.1fr 1fr;
}

.img-wrapper img {
    max-width: 150px;
}

.col {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.col :nth-last-child(n) {
    margin-left: 60px;
}