.container {
    min-width: 300px;
    border: 1px solid rgb(240, 240, 240);
    padding: 15px 20px;

}

.row-wrapper {
    margin: 20px 0;
}

.list {
    list-style: none;
    display: grid;
    grid-row-gap: 20px;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

.list-item--special {
    font-weight: 600;
    font-size: 20px;
}

.btn-item {
    margin-top: 20px;
}

.title {
    font-size: 28px;
}