.wrapper {
    text-align: center;
}

.product-name {
    font-size: 32px;
    line-height: 40px;
}

.p-info {
    font-size: 21px;
    line-height: 32px;
}

.content {
    padding: 20px 0px;
}

.content h4 {
    margin-bottom: 15px;
}