.a {
    font-size: 15px;
    line-height: 21px;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: 400;
}

.a--white {
    color: #fff;
}


.a--blue {
    color: rgb(15, 130, 255);
}

.a--blue:hover {
    text-decoration: underline;
}